/* Стили для контейнера точек */

/* это стили для точек Balance to refund................................................... $3.000 */
/* для попапа BALANCE REFUND */
.dynamic-dots {
    display: flex;
    justify-content: space-between;
    
}

/* Стиль для точек, которые автоматически заполняют пространство */
.dots {
    flex-grow: 1;
    position: relative;
}

.dots::before {
    content: "";
    
    position: absolute;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle, black 50%, transparent 50%);
    background-size: 4px 4px;
    /* Размер точек */
    background-repeat: repeat-x;
    top: 70%;
    transform: translateY(-50%);
}
/* Стиль для синих точек, которые автоматически заполняют пространство */
.dots-b {
    flex-grow: 1;
    position: relative;
}

.dots-b::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 8px;
    background: radial-gradient(circle, #6875F5 50%, transparent 50%);
    background-size: 4px 4px;
    /* Размер точек */
    background-repeat: repeat-x;
    top: 80%;
    transform: translateY(-50%);
}